APP_NAME=api
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Europe/Moscow
APP_LOCALE=en
APP_URL=http://0.0.0.0
APP_KEY=
APP_API_KEY=

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=password

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BCRYPT_ROUNDS=12

FILESYSTEM_DISK=local
#BROADCAST_CONNECTION=log
#QUEUE_CONNECTION=database

#CACHE_STORE=database
#CACHE_PREFIX=

#REDIS_CLIENT=phpredis
#REDIS_HOST=127.0.0.1
#REDIS_PASSWORD=null
#REDIS_PORT=6379

OCTANE_SERVER=frankenphp
WORKERS=4
